/* Public User Input Styling */
  /* Font */
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Zen+Dots&display=swap');
  /* Style */
body{
  color: #fff;
  padding-top: 1rem;
  font-family: 'Zen Dots', cursive;
  background-color: #22124F;
  background-image: url("/media/milky-way-scenery-background-free-vector.webp");
  background-size: cover;
  background-attachment: fixed;
  background-position: left bottom;
}
textarea{
  font-family: 'Handlee', cursive;
  letter-spacing: .1rem;
}
.field{
  background-color: rgba(23, 10, 62, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 1em;
  transition: 1s;
}
.field:focus{
  background-color: rgba(23, 10, 62,0.4);
  box-shadow: 0 0 15px 10px #684C90;
  backdrop-filter: blur(10px);
  border: solid 2px #c2b7d2;
  transition: 1s;
  color: #fff;
}
.field::-webkit-input-placeholder{
  color:#fff;
  opacity:.5;
}
.btn{
  width: 100%;
  color: #c5aee7;
  font-weight: 600;
  letter-spacing: .3rem;
  border-radius: .5rem;
  background-color: #432274;
}
.btn:focus, .btn:hover{
  color: #d9d2d3;
  box-shadow: 0 0 5px 3px #684C90;
}
/* Responsive Viewport */
@media (min-width: 576px){
  form{
    max-width: 75%;
  }
}
@media (min-width: 768px){
  form{
    max-width: 50%;
    
  }
}
